.url-container
  %h1.title= t('.title')
  %span#message
  = form_tag links_path, remote: true do
    = text_field_tag :href, '', class: 'url-input'
    = submit_tag t('.shrink'), class: 'url-button'
  = text_field_tag :short_url, '', readonly: true, class: 'url-input'
  %button{ type: 'button', id: 'copy_to_clipboard', class: 'url-button' }= t('.copy')
